/* utilities */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 8rem 0;
}

.container {
    width: 80%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}

.container h1 {
    font-size: 5.5rem;
    font-weight: 500;
    margin-bottom: 4.5rem;
}

.item{
    display: flex;
    flex-flow: wrap;
}

.col-3 {
    width: 33.33%;
    padding: 0 1.5rem;
}

.col-4 {
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: .7rem 1.8rem;
    color: #00CDCE;
    background-color: #000;
    border: none;
    outline: none;
    font-size: 1.7rem;
    transition: all .5s;
}

button:hover {
    color: #fff;
    cursor: pointer;
}





/* vertical-box */
#vertical-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 10rem;
    height: 6.1rem;
    z-index: 3;
    top: 10rem;
    right: 0;
    background-color: #0D1326;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: all 1s;
}

#vertical-box.active {
    height: 27.1rem;
}

#vertical-box a {
    color: #999;
    transition: all .5s;
}

#vertical-box .next {
    padding: 2rem 2rem;
    position: absolute;
    top: 0;
    color: #999;
    transition: all .5s;
}

#vertical-box .next:hover {
    color: #fff;
}

#vertical-box .hide-content {
    display: none;
}

#vertical-box .hide-content.active {
    display: block;
}

#vertical-box .show-content.unactive {
    display: none;
}


#vertical-box .next:hover {
    cursor: pointer;
}


#vertical-box .hidden {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid #41414d;
    padding: 2rem 0;
    position: absolute;
    top: 6rem;
    right: -10rem;
    transition: all 1.5s;
}

#vertical-box .hidden.active {
    right: 0rem;
}

#vertical-box .download {
    padding: 2rem 0;
}


#vertical-box .back:hover a {
    color: #fff;
}

#vertical-box .download:hover a {
    color: #fff;   
}

#vertical-box .buy:hover a {
    color: #fff;
}

#vertical-box i {
    font-size: 2rem;
}

#vertical-box p {
    font-size: 1.5rem;
    font-weight: 300;
}




/* arrowUp */
.arrowUp {
    width: 5rem;
    height: 5rem;
    position: fixed;
    z-index: 3;
    bottom: 3rem;
    right: 5rem;
    display: none;
}

.arrowUp.active {
    display: block;
}

.arrowUp:hover {
    cursor: pointer;
}

.arrowUp img {
    width: 4rem;
}




/* Showing pictire modal */
.modal {
    width: 60rem;
    height: 80vh;
    position: fixed;
    top: -200rem;
    left: 50%;
    transform: translate(-50%);
    transition: all .5s;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.modal.active {
   top: 10rem;
}

.modal .title {
    background-color: #00CDCE;
}

.modal .title h1{
    color: #fff;
    padding: 2rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    color: #a0260f;
    transition: all .5s;
}

.close:hover {
    color: #116667;
    cursor: pointer;
}

.modal .content {
    padding: 1.5rem;
    background-color: #fff;
}


.modal .content img {
    width: 100%;
    height: 36rem;
}

.modal .content p {
    font-size: 1.8rem;
    color: #999;
    padding: 3rem 3rem 1.5rem;
    line-height: 2.5rem;
    text-align: left;
}


/* video modal */
.videoModal {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 43rem;
    background-color: #fff;
    transition: all .5s;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoModal.active {
    top: 50%;
}

.videoModal .close {
    font-size: 4rem;
    position: absolute;
    top: -3rem;
    left: -3rem;
    color: #fff;
}

.videoModal .close:hover {
    color: #a0260f;
}

.videoModal .video {
    width: 44rem;
    height: 37rem;  
}




/* blur-screen */
.blur-screen {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 780vh;
    background-color: rgba(0, 0, 0);
    top: -780vh;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.blur-screen.active {
    top: 0;
    opacity: 0.8;
}






/* header */
header {
    width: 100%;
    height: 8rem;
    background-color: rgba(25, 25, 25, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    color: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
}

header .logo {
    font-size: 5.6rem;
    padding: 1.5rem 0;
}

header .logo a {
    color: #fff;
}

header .logo span span {
    color: #00CDCE;
}

header ul li {
    display: inline-block;
}

header ul li:last-child {
    margin: 0;
}

header ul a {
    color: #fff;
    margin: 0 1.5rem;
    padding: 1rem 1.5rem;
    border-bottom: .1rem solid #fff;
    transition: all .8s;
    font-weight: 500;
}

header ul a.active {
    border: none;
    color: #00CDCE;
}

header ul li:hover a{
    color: #00CDCE;
    border-bottom: .1rem solid transparent;

}










/* home */
#home {
    width: 100%;
    height: 97vh;
    /* margin-bottom: 8rem; */
}

#home .home__slider {
    position: relative;
    width: 100%;
    height: 97vh;
    display: flex;
    overflow: hidden;
}

#home .home__slider img {
    width: 100%;
    height: 97vh;
    object-fit: cover;
}

.slick-prev {
    left: 4.5rem;
    z-index: 2;
}

.slick-next {
    right: 7.5rem;
    z-index: 2;
}

.slick-prev:before {
    font-size: 5rem;
    content: url('../images/left-arrow.png');
}

.slick-next:before {
    font-size: 5rem;
    content: url('../images/right-arrow.png');
}

.slick-dots {
    bottom: 12rem;

}

.slick-dots li {
    margin: 0 1rem;
}

.slick-dots li button:before {
    font-size: 1.5rem;
    color: #fff;
    opacity: 1;
    margin-right: 5rem ;
    z-index: 4;
}

#home .home__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    padding: 0 5rem;
}

#home .home__text h1 {
    font-size: 6rem;
    padding-bottom: 2rem;
    font-weight: 600;
}

#home .home__text p {
    font-size: 2.4rem;
}




/* about */
#about .col-3 i {
    font-size: 2.8rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: .1rem solid #7f7777;
    line-height: 10rem;
    transition: all .5s;
}

#about .col-3 i:hover {
    background-color: #00CDCE;
    color: #fff;
    cursor: pointer;
}

#about .col-3 p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: .8rem;
    color: #7f7777;
    letter-spacing: .1rem;
}

#about .about__bottom h3 {
    font-size: 3rem;
    color: #00CDCE;
    font-weight: 600;
    line-height: 8rem;
}

#about .about__bottom p {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: .1rem;
    padding: 0 1.5rem;
}






/* stats */
#stats {
    background-color: #00CDCE;
    padding: 5rem 0;
}

#stats .number {
    color: #fff;
    font-size: 5.5rem;
    letter-spacing: .5rem;
}

#stats .text {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-top: 2rem;
}





/* blog */
#blog .col-3 img {
    border-top: .5rem solid #00CDCE;
}

#blog .blog__content {
    background-color: #efefef;
    padding: 2rem;
    text-align: left;
}

#blog .blog__content h4 {
    font-size: 2.2rem;
    color: #00CDCE;
    font-weight: 600;
    transition: all .5s;
}

#blog .blog__content h4:hover {
    color: #000;
    cursor: pointer;
}

#blog .blog__content h5 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 400;
}





/* information */
#information {
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    margin-top: 10rem;
}

#information .video {
    width: 100%;
    height: 40rem;
    position: relative;
}

#information .video img {
    height: 100%;
}

#information .video i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgba(0, 206, 206, 0.603);
    text-align: center;
    line-height: 8rem;
    color: #fff;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

#information .video i:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: #00CDCE;
}

#information .information__text {
    background-color: #00CDCE;
    text-align: center;
    height: 100%;
    padding: 0 4rem;
}

#information .information__text h3 {
    font-size: 4.2rem;
    margin: 4.2rem 0 2.1rem;
    font-size: 600;
}

#information .information__text p {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 3rem;
    color: #fff;
    margin-bottom: 3.5rem;
}







/* portfolio */
#portfolio {
    margin-bottom: 10rem;
}

#portfolio .item a {
   width: 33.33%;
   height: 100%;
}

#portfolio .col-3 {
    position: relative;
    margin-bottom: 3rem;
    width: 100%;
}


#portfolio .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 3rem 6rem;
    width: 80%;
    height: 80%;
    opacity: 0;
    transition: all .5s;
}

#portfolio .overlay h1 {
    font-size: 2rem;
    color: #00CDCE;
    border-top: .1rem solid #00CDCE;
    border-bottom: .1rem solid #00CDCE;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

#portfolio .overlay p {
    line-height: 2.5rem;
}

#portfolio .col-3:hover .overlay {
    opacity: 1;
}








/* subscribe */
#subscribe {
    background-color: #00CDCE;
    padding: 8rem 0;

}

.subscribe__content {
    display: flex;
    flex-flow: column;
    padding: 0 15rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.subscribe__content p {
    color: #fff;
    line-height: 2.8rem;
    margin-bottom: 3rem;
}

.subscribe__content form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.subscribe__content input:first-child {
    margin-bottom: 3rem;
    padding: 1.5rem 2.5rem;
    width: 300%;
    outline: none;
    border: none;
    background-color:  rgb(239, 239, 239);
}

.subscribe__content input:last-child {
    color: #fff;
    padding: 1rem 5rem;
    font-size: 2.5rem;
    background-color: #000;
    border: none;
    width: 20rem;
    border: .1rem solid #000;
    outline: none;

}

.subscribe__content input:last-child:hover {
    background-color: #ddd;
    color: #000;
    border: .1rem solid #000
}







/* agents */
#agents .col-4 {
    padding: 1.5rem;
}

#agents .agents__information {
    background-color: #333;
    width: 100%;
    color: #fff;
    padding: 3rem 0;
}

#agents .agents__information h3 {
    margin: 0 0 1rem;
    color: #00CDCE;
}

#agents .col-4:hover h3 {
    color: #fff;
    cursor: pointer;
}

#agents .agents__information p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#agents .agents__information ul li {
    display: inline-block;
    margin-right: 2rem;
}

#agents .agents__information ul li:last-child {
    margin-right: 0;
}

#agents .agents__information a {
    color: #fff;
}

#agents .agents__information i {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border: .2rem solid #fff;
    text-align: center;
    line-height: 3rem;
}

#agents .agents__information  li:nth-child(1):hover i {
    background-color: #3b5998;
}

#agents .agents__information li:nth-child(2):hover i {
    background-color: #55acee;
}

#agents .agents__information li:nth-child(3):hover i {
    background-color: #f14843;
}






/* map */
#map {
    width: 100%;
    height: 40rem;
    margin: 10rem 0;
    border: .2rem solid #00CDCE;
}

#map .map__content {
    width: 100%;
    height: 100%;
    border: 1.5rem solid #999;
}





/* contact */
#contact form {
    display: flex;
    width: 100%;
}

#contact .col-2 {
    display: flex;
    flex-flow: column;
    width: 50%;
}

#contact input, textarea {
    padding: 1.5rem;
    border: none;
    border-bottom: .2rem solid #999;
    background-color: rgb(239, 239, 239);
    margin-bottom: 2rem;
    outline: none;
}

#contact .col-2:last-child {
    margin-left: 2rem;
}

#contact .col-2:last-child input:last-child {
    background-color: #000;
    color: #fff;
    transition: all .5s;
    border: none;
}

#contact .col-2:last-child input:last-child:hover {
    background-color: #00CDCE;
    color: #000;
}







/* footer */
footer.wrapper {
    background-color: #00CDCE;
    margin-bottom: 0;
    padding: 2rem;
}

footer .container {
    flex-flow: row wrap;
    padding: 3.5rem 8rem;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

footer p {
    letter-spacing: .1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

footer p a {
    color: #ff0000;
    transition: all .5s;
}


footer p a:hover {
    color: #fff;
}

footer ul li {
    display: inline-block;
    border: .1rem solid #fff;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    margin-right: 1rem;
}

footer ul li a i {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    line-height: 4rem;
    transition: all .5s;
}
footer ul li:nth-child(1):hover i {
    color: #3b5998;
}

footer ul li:nth-child(2):hover i {
    color: #55acee;
}

footer ul li:nth-child(3):hover i {
    color: #f14843;
}

footer ul li:nth-child(4):hover i {
    color: #3b5998;
}





/* Adjust album pictures */

.fancybox-stage .fancybox-content {
    width: 50% !important;
    height: 50% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

}

.fancybox-stage img {
    width: 100%;
    height: 100%;
}






/* ///////////////////////////////////// */

/* responsive */
    /* ipad - tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .blur-screen {
        height: 1169.1vh;
        top: -1170vh
    }

    #vertical-box {
        width: 9rem;
    }

    /* header */
    header .logo {
        font-size: 3rem;
        padding: 1.5rem 0;
    }

    header ul li a {
        font-size: 1.4rem;
        padding: .5rem 1rem;
    }

    /* home */
    #home .home__text h1 {
        font-size: 4rem;
        padding-bottom: 2rem;
        font-weight: 600;
    }

    #home .home__text p {
        font-size: 1.8rem;
    }

    .slick-prev {
        left: 2.5rem;
    }

    .slick-next {
        right: 5.5rem;
    }

    /* about */
    #about .item {
        flex-flow: column;
    }

    .col-1-res {
        width: 100%;
        margin-bottom: 5rem;
    }

    /* stats */
    .col-2-res {
        width: 50%;
        margin-bottom: 2rem;
    }

    /* blog */
    #blog.wrapper {
        padding: 8rem 0 0;
    }

    #blog .item {
        flex-flow: column;
    }
    
    #blog .col-1-res {
        margin-bottom: 4rem;
    }

    #blog .blog__content {
        text-align: center;
    }

    button {
        padding: 1rem 5rem;
    }

    /* information */
    #information {
        display: flex;
        flex-flow: column;
        height: auto;
    }

    #information img {
        object-fit: cover;
    }

    #information .information__text {
        height: auto;
        padding: 0 0 5rem;
    }

    /* portfolio */
    #portfolio {
        margin-bottom: 0;
    }

    #portfolio .item  .col-2-res {
        width: 50%;
    }

    #portfolio .overlay {
        padding: 1.5rem 2rem;
    }

    #portfolio .overlay h1  {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .fancybox-stage .fancybox-content {
        width: 80% !important;
    }

    /* subscribe */

    .subscribe__content {
        padding: 0;
    }

    /* agents */
    #agents.wrapper {
        padding: 8rem 0 0;
    }

    #agents .agents__information i {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }

    /* map */
    #map {
        margin: 10rem 0 0;
    }

    /* footer */
    footer .container {
        padding: 3.5rem 0;
    }

    footer ul.col-1-res {
        margin-bottom: 0;
    }

    footer ul li {
        margin-right: 5rem;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
    }

    footer ul li:last-child {
        margin-right: 0rem;
    }
}







    /* iphone - smart phone */

@media screen and (max-width: 767px) {
    [class*="col-"] {
        width: 100%;
        margin-bottom: 3rem;
    }

    /* vertical box */
    #vertical-box {
        width: 3rem;
    }

    #vertical-box.active {
        width: 8rem;
    }

    #vertical-box p {
        font-size: 1.3rem;
    }

    /* arrowUp */
    .arrowUp {
        bottom: 1rem;
        right: 1rem;
    }

    .arrowUp img {
        width: 3rem;
    }


    /* utilities */
    .container h1 {
        font-size: 3.5rem;
    }

    /* header */
    header nav {
        position: absolute;
        top: -45vh;
        left: 0;
        background-color: rgba(25, 25, 25, 0.8);
        padding: 2rem;
        border-bottom-right-radius: 1rem;
        width: 40%;
        height: 280%;
        transition: all .5s;
    }

    header nav.active {
        top: 8rem;
    }


    header nav ul{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0rem;
        position: fixed;
        top: 9rem;
        left: -10rem;
        z-index: 4;
        transition: all 1s;
    }

    header nav ul.active{
        left: 1.5rem;
    }

    header ul li {
        margin-bottom: 1.5rem;
    }

    header ul li:last-child {
        margin-bottom: 0rem;
    }

    header ul a  {
        margin: 0 0 10rem;
        border: none;
    }

    header {
        justify-content: flex-end;
        padding-right: 3rem;
    }

    header .logo {
        font-size: 4rem;
    }
    .hamburger {
        position: absolute;
        top: 2.5rem;
        left: 3rem;
        width: 4rem;
        height: 4rem;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    header .line {
        width: 4rem;
        height: .3rem;
        background-color: #fff;
        border-radius: 2rem;
        position: absolute;
        left: 0;
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    }

    header .line-1.close {
        transform: rotate(45deg);
        top: 48%;
    }

    header .line-2.close,
    header .line-3.close {
        margin: 0;
        transform: rotate(-45deg);
        top: 48%;
    }

    header .line-1 {
        top: 18%;
    }

    header .line-2 {
        top: 48%;
    }

    header .line-3 {
        top: 78%;
    }


    /* home */
    #home .home__text {
        padding: 0;
        top: 10rem;
    }
    #home .home__text h1 {
        font-size: 2rem;
        padding-bottom: 2rem;
        font-weight: 600;
    }

    #home .home__text p {
        font-size: 1.5rem;
    }

    .slick-prev {
        left: -.5rem;
    }

    .slick-next {
        right: 2rem;
    }

    .slick-dots li button:before {
        top: 8rem;
    }


    /* about */
    #about .col-3 {
        margin-bottom: 4rem;
    }

    #about .about__bottom p {
        padding: 0;
        text-align: justify;
    }
    

    /* stats */
    #stats .col-4 {
        margin-bottom: 5rem;
    }

    #stats .text {
        margin-top: 0;
        font-size: 2.5rem;
    }

    #stats .number {
        font-size: 4.5rem;
    }

    /* blog */
    #blog button {
        width: 100%;
        padding: 1rem 0;
    }

    #blog.wrapper {
        padding-bottom: 0;
    }


    /* information */
    #information {
        display: flex;
        flex-flow: column;
        height: auto;
    }

    #information img {
        object-fit: cover;
    }

    #information .information__text {
        height: auto;
        padding: 0 2rem 5rem;
    }

    #information .information__text p {
        text-align: justify;
    }

    #information button {
        width: 100%;
    }



    /* portfolio */
    #portfolio {
        margin-bottom: 0;
    }

    #portfolio .item  .col-1-res-mobile {
        width: 100%;
    }

    #portfolio .overlay {
        padding: 1.5rem 2rem;
    }

    #portfolio .overlay h1  {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .fancybox-stage .fancybox-content {
        width: 50% !important;
        height: 30% !important;
    }



    /* .subscribe */
    .subscribe__content {
        padding: 0;
        width: 100%;
    }

    #subscribe .item {
        width: 100%;
    }

    .subscribe__content form {
        width: 100%;
    }

    .subscribe__content input {
        width: 100%;
    }
    .subscribe__content input:first-child,
    .subscribe__content input:last-child {
        width: 100%;
    }



    /* agents */
    #agents .agents__information i { 
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }

    #agents.wrapper {
        padding: 8rem 0 0;
    }



    /* map */
    #map {
        margin: 10rem 0 0;
    }



    /* contact */
    #contact form {
        flex-flow:column;
    }

    #contact form [class*="col-"] {
        width: 100%;
        margin-bottom: 0;
    }

    #contact .col-2:last-child {
        margin-left: 0;
    }




    /* footer */
    footer.wrapper {
        padding: 0;
    }

    footer .container {
        padding: 1rem 0;
    }

    footer p {
        line-height: 3rem;
    }

    footer ul li {
        margin: .5rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }

    footer ul li:last-child {
        margin-right: 0;
    }
}
